@charset "utf-8";

ul.menu, .item-list ul {
    margin: 0.35em 0 0 -0.5em; /* LTR */
    padding: 0;
}

ul.menu ul, .item-list ul ul {
    margin-left: 0em; /* LTR */
}

ol li, ul li, ul.menu li, .item-list ul li, li.leaf {
    margin: 0.15em 0 0.15em .5em; /* LTR */
}

ul li, ul.menu li, .item-list ul li, li.leaf {
    padding: 0 0 .2em 1.5em;
    list-style-type: none;
    list-style-image: none;
    background: transparent url(images/menu-leaf.gif) no-repeat 1px .35em; /* LTR */
}

.cat_close {
	background-image:url(../images/menu-collapsed.gif);
	background-repeat:no-repeat;
	background-position:left;
}

.cat_open {
	background-image:url(../images/menu-expanded.gif);
	background-repeat:no-repeat;
	background-position:left;
}

.product {
	background-image:url(../images/menu-leaf.gif);
	background-repeat:no-repeat;
	background-position:left;
}

a.product, a.cat_close, a.cat_open {
	text-decoration:none;
}

#block-category-0 ul li, ul.menu li, .item-list ul li, li.leaf {
    margin-left: 0em; /* LTR */
    padding: 0 0 .2em .5em;
    list-style-type: none;
    list-style-image: none;
    background: transparent no-repeat 1px .35em; /* LTR */
}

