#content_preview {
    margin: 15px 0px;
    border: 1px #ccccee solid;
}

.main_link {
    font-weight:bold;
    font-size:16px;
    color: #3333aa;
}

.main_links_list li {
    padding:5px;
    margin:10px 0px;
}

.main_links_list li img {
    margin-bottom:-3px;
    margin-right:10px;
}

.main_links_list {
    list-style-type:none;
    padding-left: 20px;
}
